doctype html 
html
 head 
  title=name
 body 
  p.greetings#greeter Hello World!!! 
  p=name
  div. 
      I am Indhu 
      I am #{name}
  div.containder#idcontainer(width = '100px', height = '50px')
  p Hello
  if(user)
   h1 Hi #{user.people}

