doctype html
html(lang="en")
 head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title FORM 
     
 body
      form(action = "/person", method = "post")
        div
         label(for = "name") Name: 
         input(name = "name")
        br
        div
         label(for = "age") Age: 
         input(name = "age")
        br
        div
         label(for = "nationality") Nationality: 
         input(name = "nationality")
        br
        button(type = "submit") Create new person